.body{
    background: #EDD59E;
}
.menu{
    top: 0;
	left: 0;
	width: 100%;
	height: 15vh;
	padding-left: 20vw;
	padding-right: 10vw;
	box-sizing: border-box;
	transition: .3s;
	background-color: #333;
}
.menu_item{
    list-style: none;
    display: inline;
}
.pie_pagina{
    background-color: #4CE051;
}
.espacio_motivante .info_contacto{
    background-color: #90F748;
}