.body{
    background: #EDD59E;
}
.menu{
    align-content: center;
    background-color: #4DE051;
    flex: auto;
}
.menu_item{
    list-style: none;
    display: inline;
}
.pie_pagina{
    background-color: #4CE051;
}
.espacio_motivante .info_contacto{
    background-color: #90F748;
}